body{
	margin: 3em 10% 5em 10%;	
}

#title {
	text-align: center;
	margin-bottom: -10px;
}

.subTitle {
	text-align: center;
}

.projDesc{
	text-indent: 2em;
	text-align: justify;
}

.projBack{
	text-indent: 2em;
	text-align: justify;
}

.column {
	float: left;
	width: 50%;
	text-align: center;
	margin: 0px auto;
	padding-bottom: 25px;
}

.person {
	margin-bottom: 2px;
}